#aboutMe {
    background-color: #52796F;
    display: flex;
    margin: 0px 20% 0px;
    order: 0;
}

.aboutMeWrapper {
    display: grid;
    width: fit-content;
    grid-template-areas: 'header header header'
                         'development development picture'
                         'performance  performance picture'
                         'teaching teaching teaching'
                        ;
    margin: 15px 2% 15px;;
    background-color:#CAD2C5;
    row-gap: 15px;
}

.placeholderIMG {
    max-width: 200px;
    max-height: 400px;
    padding-right: 50px;
    grid-area: picture;
}

#aboutMeHeading {
    grid-area: header;
    justify-self: center;
    text-decoration: underline;
}

.devlopment {
    grid-area: development;
}

.performance {
    grid-area: performance;
}

.teaching {
    grid-area: teaching;
} 

.projectHeader{
    color: #CAD2C5;
}

.projectInformation > *{
    color: #CAD2C5;
}

.projectInformation{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.projectInformation ul li{
    margin: 10px;
}
