#aboutMe {
    background-color: #354f52;
    display: flex;
    order: 0;
}

.aboutMeWrapper {
    display: grid;
    width: fit-content;
    grid-template-areas: 'header header header'
                         'development development picture'
                         'performance  performance picture'
                         'teaching teaching teaching'
                        ;
    margin: 40px;
    background-color:#CAD2C5;
    row-gap: 15px;
    border: ridge 5px;
    border-color:#2F3E46;
    padding: 25px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30); 
}

.placeholderIMG {
    max-width: 200px;
    max-height: 400px;
    padding-right: 50px;
    grid-area: picture;
    padding-left: 20px;
}

.listContainer{
    display:flex;
    flex-wrap: nowrap;
    align-items:center;
    padding: 15px 0px;
}

#aboutMeHeading {
    grid-area: header;
    justify-self: center;
    text-decoration: underline;
    size: 2.5em;
}

.devlopment {
    grid-area: development;
}

.performance {
    grid-area: performance;
}

.teaching {
    grid-area: teaching;
} 

.projectHeader{
    color: #CAD2C5;
}

.projectInformation > *{
    color: #CAD2C5;
}

.projectInformation{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.projectInformation ul li{
    margin: 10px;
}
