#contactMe {
  display: none;
  opacity: 0;
  order: 1;
  flex-direction: column;
  align-items: center;
}

/* Contact Form Styles */

.formWrapper {
  width: 90%;
  padding: 30px 30px 10px ;
  background-color: #2F3E46;
  margin-bottom: 15px;

  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -1px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

#contactForm {
  display: grid;
  grid-template-areas:
    "name name"
    "email email"
    "message message"
    "button button"
    "response response";
    row-gap:20px;    
}

#contactForm > * {
  display: flex;
  column-gap: 20px;
  flex-direction:column;
  row-gap: 5px;
}

#contactForm label{
    color: #CAD2C5;
}

.name {
  grid-area: name;
}

.emailWrapper {
  grid-area: email;
}

.messageWrapper {
  grid-area: message;
  flex-direction: column;  
}

#messageField{
  height: 250px;
  resize: none;
}

#submitButton{
    font-size: 1.5em;
    background-color: #52796F;
    color: #CAD2C5;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    margin-top: 15px;
    padding: 5px 10px;
    border: hidden; 
    
    grid-area: button;   
    
    transition: all .25s;

    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30); 
}

#submitButton:hover{
   background-color: #46665e ; 
   color: #c1c9bc; 
}

/* Styles for message confirmation / issues */

#responseMessage{
  display:none;
  color: white;
  grid-area: response;
  justify-self: center;
}

.showMessage {
  animation-name: showMessageAnimation;
  animation-duration: 1s;
  animation-play-state:running;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hideMessage{
  animation-name: hideMessageAnimation;
  animation-duration: 2s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hideMessageAnimation{
  from {
      opacity: 1
  } to {
      opacity: 0;
  }
}

@keyframes showMessageAnimation{
  from{
      opacity: 0
  } to {
      opacity: 1
  }
}

/* Thank you box styles */

.thankYou{
    margin-bottom: -15px;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
    background-color:#52796F;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px;
    z-index: 1;

    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30); 
   
}

.thankYou p, #thanksHeading{
    color: #CAD2C5;
}

#thanksHeading{
    text-decoration: underline;
}

