@media screen and (min-width:1600px){

}

@media screen and (min-width: 1345px) {

    .siteNav {
        flex-direction: row;
        justify-content: space-between;
    } 
}

@media screen and (min-width: 850px){
    .cardholder{
        width: 400px;
    }

    #headshot{
        max-width: 175px;
        max-height: 175px;
    }

    .emailIcon{
        width: 48px;
        height: 48px;
    }

    .mediaLink {
        width: 48px;
        height: 48px;
      }
      
}

@media screen and (min-width: 805px){

    #aboutMe{
        margin: 0px 10% 0px;
    }

}

@media screen and (min-width: 640px){
    nav {
        display: flex;
        flex-direction: row;
        column-gap:20px;
        align-items:center
    } 

    .hamburger{
        display: none;
    }

    header{
        flex-direction: row;
    }   
    
    .flexContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:auto;
        margin-right:auto;
        row-gap: 20px;
    }

    .cardholder{
        width: 250px;
        order:0;
    }

}



@media screen and (min-width: 600px){
    .projectsWrapper{
        margin: 0px 25px 0px 25px;
    }

    .aboutMeWrapper{
        grid-template-areas: 'header header header'
        'development development picture'
        'performance  performance picture'
        'teaching teaching teaching';
        margin: 40px;
        padding: 25px;
    }
}
