#projects{
    opacity: 0;
    order: 1;
}


#projectHeading{
    color:#CAD2C5;
    margin-top: 10px;
    text-align:center;
    font-size:2.5em;
    text-decoration: underline;
}

.projectsWrapper {
   border: solid 5px;
   margin: 0px 25px 0px 25px;
   padding-bottom: 20px;
   background-color:#2F3E46;
   box-shadow: 1px -1px 30px 5px rgba(0,0,0,0.45);
   -webkit-box-shadow: 1px -1px 30px 5px rgba(0,0,0,0.45);
   -moz-box-shadow: 1px -1px 30px 5px rgba(0,0,0,0.45);   
}
.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
}

.projectsContainer img {
    width: 300px;
    height: 250px;
}

.projectFigure figcaption { 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgb(0,0,0,.3);
    width: 100%;
    height: 100%;    
    opacity: 0;
    transition: opacity 1s;
}

.projectFigure figcaption:hover{
    opacity: 1;
}

.projectFigure figcaption > * {
    transform: translateY(50px);
    transition: transform 1s;
}

.projectFigure figcaption:hover > *{
    transform: translateY(0px);
}
.projectFigure figcaption, .projectFigure p, .projectFigure h3{
    color:white;
}

figure {
    max-width:fit-content;
}

/* .projectWrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap:10px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30); 
   
} */

.projectFigure {
    display:flex;
    flex-direction: column;
    position:relative;
    
}

.projectTitle {
    font-size: 2em;
    font-weight:600;
}

.projectDescription{
    font-size: 1.24em;
    margin-top: .25em;
}

.project {
    background-color:#354f52;
    padding: 25px;
    width:500px;
    border: ridge 5px;
    border-color: #CAD2C5;

    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap:10px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.30); 
}

.description, #projects li{
    color: #CAD2C5;
}
