/*
Pallet Codes
#CAD2C5
#84A98C
#52796F
#354f52
#2F3E46
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Soto Sans', Arial, Helvetica, sans-serif;
    color: #2F3E46;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #CAD2C5;
}

main {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
}

hr{
    border-top: 2px solid;    
}

.hide {
    animation-name: hideAnimation;
    animation-duration: .5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    from {
        opacity: 1
    } to {
        opacity: 0
    }
}

.show {
    animation-name: showAnimation;
    animation-duration: .5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showAnimation{
    from {
        opacity: 0
    } to {
        opacity: 1
    }
}


